body {
  margin: 0;
  padding: 0;
  font-family:  "Source Sans Pro" ,"Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  font-family: "Source Sans Pro";
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

select {
  padding: 10px;
  border-radius: 100px;
  border: none;
  margin-left: 10px;
  
}

select:focus {
    outline:0;
}


.activeFilter {
  background:#0ad4fa !important;
  color: #ffffff !important;

}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


